<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ezsale">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EzSale"
        tools:targetApi="31">
        <activity
            android:name=".generaluser.SplashScreenActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".buyer.SendEmailActivity"
            android:exported="false"
            android:parentActivityName=".buyer.BuyerModeActivity" />
        <activity
            android:name=".buyer.BuyerModeActivity"
            android:exported="false"
            android:parentActivityName=".generaluser.UserModesActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".seller.SoldItemsActivity"
            android:exported="false"
            android:parentActivityName=".seller.SellerMode" />
        <activity
            android:name=".seller.EditSaleActivity"
            android:exported="false"
            android:parentActivityName=".seller.SellerMode" />
        <activity
            android:name=".seller.CreateSaleActivity"
            android:exported="false"
            android:parentActivityName=".seller.SellerMode" />
        <activity
            android:name=".seller.SellerMode"
            android:exported="false"
            android:parentActivityName=".generaluser.UserModesActivity" />
        <activity
            android:name=".generaluser.UserModesActivity"
            android:exported="false" />
        <activity
            android:name=".generaluser.SignUpActivity"
            android:exported="false"
            android:parentActivityName=".generaluser.MainActivity" />
        <activity
            android:name=".generaluser.MainActivity"
            android:exported="true">
        </activity>
    </application>

</manifest>